---
import type { GetStaticPaths } from 'astro';
import Hero from '~/components/widgets/Hero.astro';

import Layout from '../../layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';

import { getStaticPathsBlogPost } from '../../utils/blog';

export const prerender = true;

export const getStaticPaths = (async () => {
  return await getStaticPathsBlogPost();
}) satisfies GetStaticPaths;
---

<Layout>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle=""> Arvak Von Neustain </Headline>

    <Hero image={{ src: '~/assets/images/logo.png', alt: 'AstroWind Hero Image' }} />
  </section>
</Layout>
